body{
    background-image: url("./Background.jpg");
    background-position: center;
    background-size: cover;
    display:flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.title{
    width: 60vw;
    margin: 0 auto;
    margin-top: 20vh;
    text-align: center;
}